<div class="container-star-controls">
  <p>Editar Estrela:</p>
  <div>
    <label for="starPoints">Número de pontas:</label>
    <input type="number" id="starPoints" [min]="3" [max]="20" [value]="starPoints"(input)="editStarPoints($event)">
  </div>
  <div>
    <label for="outerRadius">Tamanho da ponta:</label>
    <input type="range" id="outerRadius" [min]="100" [max]="160" [value]="outerRadius" (input)="editStarPointsLength($event)">
  </div>
  <div>
    <label for="fillStar">Cor da Estrela:</label>
    <input type="color" name="fillStar" id="fillStar" [(ngModel)]="fillStar" (ngModelChange)="editStarColor()"/>
  </div>
  <div>
    <label for="stroke">Cor da borda:</label>
    <input type="color" id="stroke" [value]="stroke" [(ngModel)]="stroke" (input)="editStarStroke()">
  </div>
  <div *ngIf="stroke !== '#000000'">
    <label for="strokeWidth">Tamanho da borda:</label>
    <input type="range" id="strokeWidth" [min]="2" [max]="20" [value]="strokeWidth" [(ngModel)]="strokeWidth" (input)="editStarStrokeWidth()">
  </div>
</div>
