<div class="container">
  <div class="container-content">
    <div class="container-content-canvas" #canvasControl>
    </div>
    <div class="container-content-buttons">
      <button type="button" (click)="createRectangle()">Adicionar Retângulo</button>
      <button type="button" (click)="createStar()">Adicionar Estrela</button>
      <button type="button" (click)="clearCanvas()">Limpar</button>
    </div>
  </div>
  <div class="container-element-controls" *ngIf="showElementControls">
    <div>
      <label for="horizontalBorder">Arredondar borda na horizontal</label>
      <input type="number" name="horizontalBorder" id="horizontalBorder" max="100" min="0" [(ngModel)]="horizontalBorder" (ngModelChange)="editRectangleBorder()"/>
    </div>
    <div>
      <label for="verticalBorder">Arredondar borda na vertical</label>
      <input type="number" name="verticalBorder" id="verticalBorder" max="100" min="0" [(ngModel)]="verticalBorder" (ngModelChange)="editRectangleBorder()"/>
    </div>
    <div>
      <label for="fillRectangle">Escolha uma cor</label>
      <input type="color" name="fillRectangle" id="fillRectangle" [(ngModel)]="fillRectangle" (ngModelChange)="changeRectangleColor()"/>
    </div>
  </div>
</div>
