<div class="container">
  <div class="container-content">
    <app-canvas
      style="height: 100%; width: 100%;"
      [canCreateElement]="canCreateNewElement()"
      (canvasCleared)="onCanvasCleared()"
      (elementCreated)="onElementCreated()"
      (rectangleSelected)="onRectangleSelected($event)"
      (starSelected)="onStarSelected($event)">
    </app-canvas>
    <app-rectangle-controls
      *ngIf="showRectangleControls"
      style="height: 100%;"
      [selectedRectId]="selectedRectId">
    </app-rectangle-controls>
    <app-star-controls
      *ngIf="showStarControls"
      style="height: 100%;"
      [selectedPolyId]="selectedPolyId">
    </app-star-controls>
  </div>
</div>
