<div class="container">
  <div class="container-content">
    <app-canvas style="height: 100%; width: 100%;"
      [canCreateElement]="canCreateNewElement()"
      (elementCreated)="onElementCreated()"
      (canvasCleared)="onCanvasCleared()"
      (rectangleSelected)="onRectangleSelected($event)"
      (starSelected)="onStarSelected($event)">
    </app-canvas>
  <app-rectangle-controls
    style="height: 100%;"
    *ngIf="showRectangleControls"
    [selectedRectId]="selectedRectId">
  </app-rectangle-controls>
  </div>
</div>
